<div class="container">
  <h1>Registration</h1>

<div class="col-md-5">
    <h2>Rejestracja w Volontulo</h2>
        <form id="user_register" method="post" action="" role="form" enctype="multipart/form-data">
          
            <div class="form-group">
                <label for="id_email" class="control-label"><span class="required">*</span></label>
                <input type="text" value="" name="email" class="form-control" id=""/>
            </div>
            <div class="form-group">
                <label for="id_password" class="control-label"> <span class="required">*</span></label>
                <input type="password" value="" name="password" class="form-control" id="" />
            </div>
            <div class="checkbox">
                <label for="" class="control-label"><input type="checkbox" name="terms_acceptance" value="accept" id="">   <span class="required">*</span></label>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Zarejestruj się</button>
        </form>
    </div>


</div>
